html, body {
  padding:0;
  margin:0;
  font-family: sans-serif;
}

body {
  background-color: #333335;
  color: #E1E1E1;
}

.pull-right {
  float: right;
}

.dim {
  color: #C1C1C1;
  font-size: 0.5em;
}

a {
  color: inherit;
}

label {
  user-select: none;
  cursor: pointer;
}

.ace-monokai .ace_storage.ace_type, .ace-monokai .ace_support.ace_class, .ace-monokai .ace_support.ace_type {
  font-style: normal !important;
}